body {
    background-color: rgb(17, 17, 17);
    color: white;
    
}

.page-content {
    width: calc(100% - 50px);                
    margin-left: 25px;                 
    margin-right: 25px;    
    padding: 20px;              

    border-radius: 5px;
    box-sizing: border-box;      
    height: calc(100vh - 100px);
}

.form-details{
    display: flex;
    flex-direction: column;
    width: 200px
}

.table-wrapper {
    width: 100%; /* Adjust width as needed */
    max-width: 800px; /* Limit the maximum width of the table */
}

table {
    width: 100%; /* Table takes the full width of the wrapper */
    border-collapse: collapse; /* Ensure borders are collapsed */
}

th, td {
    padding: 10px; /* Add padding for better spacing */
    text-align: left; /* Align text to the left */
}