<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SSE Lab2: oha24</title>
    <link rel="stylesheet" href="background.css">
    <style>
        body {
            background-color: lightblue; /* Corrected syntax */
        }
    </style>
</head>
<body>
    <form action="/submit" method="post">
        <label for="namefield">Name:</label>
        <input type="text" id="namefield" name="name">
        <label for="agefield">Age:</label>
        <input type="number" id="agefield" name="age">
        <label for="hobbyfield">Hobby:</label>
        <input type="text" id="hobbyfield" name="hobby">
        <input type="submit" value="Submit">
    </form>
</body>
</html>
